body{
    font-size: 1rem;
    background: url(/img/bg.jpg);
    background-size: cover;
}
a{
    font-family: "Varela", sans-serif;
    font-size: 23px;
    font-weight: 10;
}
.my-rounded-all {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.my-rounded-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.my-rounded-right {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}